.toolbar{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    background-color: #1abc9c;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1100;
}

.toolbar nav{
    height: 100%; 
}
@media(max-width:499px){
    .desktop{
        display:none;
    }
}