.toolbar{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 5;
    left:0;
    background-color: #1abc9c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.toolbar nav{
    height: 100%; 
}
