.display{
    display: flex;
    flex-wrap: wrap;
}

.clock{
    flex: 10%;
    padding: 20px;
}

.btn_group{
    flex: 30%;
    padding: 20px;
}

h1{
    margin: 0;
    font-size: 1.2em;
}

.btn {
    float: right;
    border: 0;
    border-radius: 0;
    margin-right: 4px;
  }

@media (max-width: 325px) {
    .display, .btn {   
      flex-direction: column;
      float: left;
    }
  }