.display{
    display: flex;
    flex-direction:'row';
}

.clock{
    padding: 20px;
    width: 108px;
}

.btn_group{
    padding: 20px;
}

h1{
    margin: 0;
    font-size: 1.2em;
}

.btn {
  width: 58px;
  height: 28px;
  float: right;
  margin-right: 4px;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
  outline: none;
  margin-bottom: 5px;
  }

  .btn:active {
    box-shadow: 0 5px rgb(122, 122, 122);
    transform: translateY(4px);
  }

  @media (max-width: 400px) {
    .display{
      display: flex;
      flex-direction: column;
    }
  }