.cell_style{
    width: 4rem;
    height: 2rem;
    border: 1px solid lightblue;
    text-align: center; 
  }
  th:hover {background-color:rgb(149, 226, 240)}

 .style{
   overflow: scroll;
   width: 100%;
   height: 390px;
   padding: 20px;
   border: 1px solid gray;
   text-align: center;
   border-collapse: collapse;
 }
 
th:nth-child(1), th:nth-child(4), th:nth-child(7) {
   border-left: solid 2px red;
  }

th:nth-child(9){
   border-right: solid 2px red;
}

tr:nth-child(1), tr:nth-child(4), tr:nth-child(7){
      border-top: solid 2px green;
  }

tr:nth-child(9){
   border-bottom: solid 2px green;
  }
   
@media (min-width:200px) and (min-height:560px){
    .style{
        width: 200px;
        height: 190px;
    }
    .cell_style{
      width: 2rem;
      height: 1rem;
    }

}

@media (min-width:400px){
    .style{
        width: 350px;
        height: 390px;
    }

}

@media (min-width:700px) {
    .style{
        width: 400px;
        height: 390px;
    }

}

@media (min-width:1000px){
    .style{
        width: 500px;
        height: 390px;
    }

}
