.cell_style{
    width: 5rem;
    height: 6rem;
    border: 1px solid lightblue;
    text-align: center; 
}
  th:hover {background-color:rgb(149, 226, 240)}

 .style{
   overflow: scroll;
   table-layout:fixed;
   padding: 32px 24px;
   border: 1px solid gray;
   text-align: center;
   border-collapse: collapse;
 }
 
th:nth-child(1), th:nth-child(4), th:nth-child(7) {
   border-left: solid 2px red;
  }

th:nth-child(9){
   border-right: solid 2px red;
}

tr:nth-child(1), tr:nth-child(4), tr:nth-child(7){
      border-top: solid 2px green;
  }

tr:nth-child(9){
   border-bottom: solid 2px green;
  }

  @media (min-width: 600px){
    .style{
      padding-left: 24px;
      padding-right: 24px;
    } 
  }
   
  @media only screen and (max-width: 600px) {
    .cell_style{
      width: 3rem;
      height: 4rem;
    }
  }
  @media only screen and (max-width: 450px) {
    .cell_style{
      width: 2.8rem;
      height: 3.4rem;
    }
  }
  @media only screen and (max-width: 400px) {
    .cell_style{
      width: 2.3rem;
      height: 3rem;
    }
  }
  @media only screen and (max-width: 320px) {
    .cell_style{
      width: 1.8rem;
      height: 3rem;
    }
  }