.number_box{
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    color: black;
    font-family: inherit;
    font-size: 1.2em;
    margin: 10px;
    padding: 5px;
}

.number_box button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }

.styled{
    border: none;
    width: 50px;
    height: 50px;
    outline: none;
    /* padding: 5px 8px; */
    text-align: center;
    color: black;
    background-color: inherit;
}

.active, .styled:hover {
    background-color: #666;
    color: white;
  } 

.number_box button:disabled{
    color: lightgray;
}

@media only screen and (max-width: 500px) {
  .styled{
      width: 40px;
      height: 45px;
  }
}
@media only screen and (max-width: 400px) {
  .styled{
      width: 35px;
      height: 45px;
  }
}
@media only screen and (max-width: 300px) {
  .styled{
      width: 25px;
      height: 45px;
  }
}
